@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

@import 'vendors/normalize';

@import 'layouts/header';
@import 'layouts/footer';

@import 'components/buttons';

@import 'pages/home';
@import 'pages/pages_menu';

body {
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

    img {
        width: $full;
        object-fit: cover;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 5%;
        padding-right: 5%;
    }

    a {
        text-decoration: none;
    }
}

header,
#localisation div {
    @include flexcenter;
    width: $full;
}

#localisation div {
    align-items: baseline;
    background-color: #dfdfdf;
    box-shadow: inset 0 3px 3px 0 rgb(180, 179, 179);
}

.réserver {
    @include flexcenter;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 10%;
    align-items: center;
}

.titres_réserver {
    text-align: center;
    margin-bottom: $width1;
}

#fonctionnement p {
    padding: 5px 8px 4px 9px;
    background-color: $secondary-color;
    color: $bgcolor2;
    border-radius: $width1;
    position: relative;
    right: $width1;
    font-size: 12px;
}

#restaurants {
    background-color: $bgcolor1;
    margin-top: 50px;

    & h2 {
        margin: 0 5% 0 5%;
        padding: 50px 0 20px 0;
    }
}

.card_restaurant {
    background-color: $bgcolor2;
    border-radius: $width1;
    box-shadow: 0 8px 8px 0 rgb(221, 220, 220);

    & img {
        border-top-left-radius: $width1;
        border-top-right-radius: $width1;
    }
}

.com_card_restaurant {
    height: 65px;
    @include flexbetween;
    position: relative;
}

.com_card_restaurant_notnew {
    height: 65px;
    @include flexbetween;
    margin-top: 10px;
}

.titres_restaurants h3,
.titres_restaurants h4 {
    margin: $none;
    padding: 0 0 10px 8%;
    color: $color4;
}

.icon_coeur_accueil {
    @include flexcenter;
    align-content: flex-end;
    position: relative;
}

.input {
    position: relative;
    opacity: $none;
    width: $width1;
    height: $width1;
    cursor: pointer;
    z-index: 3;
}

.fa-regular.fa-heart {
    font-size: $width2;
    color: $icon-color;
}

.fa-solid.fa-heart {
    font-size: $width2;
    opacity: $none;
    background: -webkit-gradient(linear, left top, left bottom, from($primary_color), to($secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    right: $width2;
}

input:checked~.fa-regular.fa-heart {
    transition-duration: .5s;
    opacity: $none;
}

input:checked~.fa-solid.fa-heart {
    transition-duration: .5s;
    opacity: $opacity
}

footer {
    height: 200px;
    background-color: rgb(56 56 56);

    & h2 {
        font-family: "Shrikhand", Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 100;
        width: 160px;
        color: $bgcolor2;
        margin: $none;
        padding: 20px 0 10px 5%;
    }

    & p {
        color: $bgcolor2;
        margin: $none;
        padding: 10px 0 0 5%;
    }

    & i {
        width: $width1;
        font-size: 10px;
    }
}

.suggest,
.partnership {
    @include flexbaseline;
    color: $bgcolor2;
    padding: 10px 0 0 5%;
}

.suggest h3,
.partnership h3 {
    margin: $none;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

/* ---PAGES RESTAURANTS--- */

/* ELEMENTS DE LA PAGE */

body a {
    color: $color4;
}

/* HEADER */

header a {
    position: relative;
}

/* SECTION MENU */

.menu,
.menu_la_note_enchantée {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $bgcolor1;
    position: relative;
}

.titre_menu {
    @include flexbaseline;

    & h1 {
        font-family: 'Shrikhand';
        font-weight: 400;
        margin-top: 30px;
    }
}

.icon_coeur_page {
    width: $width1;
    height: $width1;
    position: relative;
    right: $width1;
}

.coeur_menu {
    position: relative;
    top: 5px;
}

.fa-regular.fa-heart.menu,
.fa-solid.fa-heart.menu {
    height: $width2
}

.fa-regular.fa-heart.menu {
    position: relative;
    right: $width1;

}

.fa-solid.fa-heart.menu {
    position: relative;
    top: 51px;
    left: 2%;
}

/* RESTAURANTS */

/* ANIMATION APPARITION */

.card_plat.item1,
.card_plat.item2,
.card_plat.item3,
.card_plat.item4,
.card_plat.item5,
.card_plat.item6,
.card_plat.item7,
.card_plat.item8,
.card_plat.item9,
.card_plat.item10 {
    animation-name: apparition;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both;
    animation-duration: 2s;
    transition: linear;
}

.card_plat.item1 {
    animation-delay: .2s;
}

.card_plat.item2 {
    animation-delay: .4s;
}

.card_plat.item3 {
    animation-delay: .6s;
}

.card_plat.item4 {
    animation-delay: .8s;
}

.card_plat.item5 {
    animation-delay: 1s;
}

.card_plat.item6 {
    animation-delay: 1.2s;
}

.card_plat.item7 {
    animation-delay: 1.4s;
}

.card_plat.item8 {
    animation-delay: 1.6s;
}

.card_plat.item9 {
    animation-delay: 1.8s;
}

.card_plat.item10 {
    animation-delay: 2s;
}

@keyframes apparition {
    from {
        opacity: $opacity;
    }

    to {
        transform: translateY(7px);
        opacity: $none;
    }
}

.entrées h2,
.plats h2,
.desserts h2 {
    font-weight: 100;
    padding-bottom: 5px;
    border-bottom: 3px solid $tertiary_color;
}

.card_plat {
    @include flexbetween;
    margin: 20px 3% 10px 3%;
    padding-left: 3%;
    background-color: $bgcolor2;
    border-radius: $width1;
    box-shadow: 0 8px 8px 0 rgb(221, 220, 220);
    overflow: hidden;

    & p {
        font-weight: 100;
    }

    & .icon {
        @include flexcenter;
        opacity: $none;
        width: 20%;
        align-items: center;
        color: $tertiary_color;
        background-color: $tertiary_color;
        border-top-right-radius: $width1;
        border-bottom-right-radius: $width1;
        margin-right: -20%;
    }

    & i {
        width: $width1;
        padding: 5px;
        background-color: $bgcolor2;
        border-radius: $width1;
    }
}

.card_plat:hover .icon {
    opacity: $opacity;
    margin-right: $none;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    cursor: pointer;
}

.card_plat:hover i {
    transform: rotate(360deg);
    transition-duration: 0.5s;
}

.card_plat_com {
    padding: 7px 0 7px 0;
    overflow-x: hidden;
}

.prix {
    @include flexcenter;
    font-weight: 800;

    & p {
        margin: $none;
        padding: 30px 10px 0 0;
        font-weight: 900;
    }
}

/* SECTION COMMANDER */

.commander {
    @include flexcenter;
    background-color: $bgcolor1;
}

/* ---VERSION MOBILE---*/

@media (max-width: 425px) {

    /* ---INDEX--- */

    /* ELEMENTS DE LA PAGE */

    body {
        width: 425px;
    }

    /* HEADER */

    header img {
        margin-top: 20px;
        width: 170px;
        margin-bottom: 10px;

        & i {
            margin-top: 20px;
            font-weight: 500;
            font-size: 20px;
            position: relative;
            right: 40%;
            top: 5px;
        }
    }

    /* SECTION LOCALISATION */

    #localisation div i {
        margin-right: 3%;
    }

    #localisation div h2 {
        margin: $width1 0 $width1 0;
        font-size: 17px;
        font-weight: 800;
    }

    /* SECTION RESERVER */

    .réserver a {
        width: 80%;
    }

    .titres_réserver h1 {
        font-size: 20px;
    }

    .titres_réserver p {
        font-size: 12px;
    }

    /* SECTION FONCTIONNEMENT */

    #fonctionnement {
        margin: 50px 5% 50px 7%;
    }

    .choose,
    .compose,
    .taste {
        margin-bottom: 20px;
    }

    .choose h3,
    .compose h3,
    .taste h3 {
        font-size: $width1;
    }

    /* SECTION RESTAURANTS */

    .card_restaurant {
        height: 240px;
        margin: 0 5% 0 5%;

        & img {
            height: 170px;
        }
    }

    .com_card_restaurant {
        bottom: 20px;
    }

    .titres_restaurant {
        width: 60%;

        & h3 {
            font-size: 16px;
            font-weight: 700;
            margin-top: 3px;
        }

        & h4 {
            font-size: 15px;
            font-weight: 300;
        }
    }

    .icon_coeur_accueil {
        bottom: 50px;
        right: 10px;
    }

    input {
        left: $width2
    }

    /* ---PAGES RESTAURANTS MOBILE--- */

    /* HEADER */

    header a {
        right: 18%;
    }

    .img_restaurant {
        height: 215px;
    }

    .img_restaurant img {
        height: 250px;
    }

    /* SECTION MENU */

    .menu {
        height: 990px;
    }

    .menu_la_note_enchantée {
        height: 1080px;
    }

    .titre_menu {
        justify-content: space-between;

        & h1 {
            width: 78%;
            font-size: $width1;
            padding: 0 0 0 5%;
        }
    }

    .entrées h2,
    .plats h2,
    .desserts h2 {
        width: 40px;
        font-size: medium;
        margin: 30px 5% 10px 5%;
    }

    .card_plat h3,
    .card_plat p {
        margin: 5px 0 5px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .card_plat h3 {
        font-size: 16px;
    }

    .card_plat p {
        font-size: 12px;
    }

    .card_plat_com {
        width: 80%;
    }

    .prix {
        font-size: $width1;
    }
}


/* ---VERSION TABLETTE--- */

@media (min-width: 426px) and (max-width: 768px) {

    /* ---INDEX--- */

    /* HEADER */

    header img {
        margin-top: 20px;
        margin-bottom: 10px;
        width: 35%;
    }

    /* SECTION LOCALISATION */

    #localisation div i {
        margin-right: 3%;
    }

    #localisation div p {
        font-weight: 900;
        font-size: 20px;
        margin: 10px 0 10px 0;
    }

    /* SECTION RESERVER */

    .réserver {
        padding: 2%;

        & a {
            width: 240px;
        }
    }

    .titres_réserver h1 {
        font-size: $width1;
        margin: $none;
    }

    .titres_réserver p {
        font-size: 17px;
    }

    /* SECTION FONCTIONNEMENT */

    #fonctionnement {
        margin: 20px 5% 20px 5%;
        @include flexwrapevenly;
        align-content: center;

        & h2 {
            width: $full;
            height: 30px;
            font-size: $width1;
            margin: 0 0 20px 0;
        }
    }

    /* SECTION RESTAURANTS */

    #restaurants {
        height: 800px;
        @include flexwrapevenly;

        & h2 {
            width: $full;
            height: 20px;
            font-size: $width2
        }

        & a {
            width: 45%;
            margin: 0 0 0 2%;
        }
    }

    .card_restaurant {
        height: 300px;
        margin: 10px 2% 20px 2%;

        & img {
            height: 200px;
            width: $full;
            object-fit: cover;
        }
    }

    .com_card_restaurant {
        bottom: 20px;
        align-content: center;
    }

    .titres_restaurant {
        width: 75%;

        & h3 {
            font-weight: 700;
            font-size: 20px;
        }

        & h4 {
            font-weight: 300;
            font-size: 18px;
        }
    }

    .titres_restaurant h3,
    .titres_restaurant h4 {
        padding: 0 0 5px 4%;
    }

    .icon_coeur_accueil {
        width: 2px;
        height: $width2;
        top: 230px;
        right: 1%;
    }

    input {
        left: 20px;
    }

    /* ---PAGES RESTAURANTS TABLETTE*---/

    /* HEADER */

    header i {
        position: relative;
        top: 20px;
    }

    header a {
        font-weight: 500;
        font-size: 20px;
        right: 22%;
        top: 8px;
    }

    .img_restaurant {
        height: 300px;

        & img {
            width: $full;
            height: 350px;
            object-fit: cover;
        }
    }

    /* SECTION MENU */

    .titre_menu {
        justify-content: center;

        & h1 {
            font-size: 30px;
            margin-right: 20px;
        }
    }

    .entrées,
    .plats,
    .desserts {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            width: 80px;
            font-size: 28px;
            margin: 30px 0 10px 0;
        }
    }

    .card_plat {
        width: 65%;

        & h3, p {
            margin: 5px 0 5px 0;
        }

        & h3 {
            font-size: 20px;
        }

        & p {
            font-size: 17px;
        }
    }

    .card_plat_com {
        width: 70%;
        margin-right: 10%;
    }

    .prix {
        font-size: $width1;
    }
}


/* VERSION DESKTOP */

@media (min-width: 769px) {

    /* HEADER */

    header {
        padding: 20px 0 20px 0;
    }

    /* SECTION LOCALISATION */

    #localisation div i {
        margin-right: 3%;
        font-size: 20px;
    }

    #localisation div p {
        font-weight: 900;
        font-size: 25px;
        margin: 10px 0 10px 0;
    }

    /* SECTION RESERVER */

    .réserver {
        padding: 2%;

        & a {
            width: 250px;
            @include flexcenter;
        }
    }

    .titres_réserver h1 {
        font-size: 30px;
        margin: $none;
    }

    .titres_réserver p {
        font-size: 20px;
    }

    /* SECTION FONCTIONNEMENT */

    #fonctionnement {
        margin: 0 2% 0 2%;
        @include flexwrapevenly;

        & h2 {
            width: $full;
            height: 20px;
            font-size: $width2;
            margin-left: 3%;
        }
    }

    /* SECTION RESTAURANTS */

    #restaurants {
        height: 800px;
        @include flexwrapevenly;

        & h2 {
            width: $full;
            height: 20px;
            font-size: $width2;
        }

        & a {
            width: 45%;
            margin: 0;
        }
    }

    .card_restaurant {
        height: 300px;
        margin: 10px 2% 20px 2%;

        & img {
            height: 200px;
            width: $full;
            object-fit: cover;
        }
    }

    .com_card_restaurant {
        bottom: $width1;
    }

    .titres_restaurant {
        width: 80%;
        margin-top: 10px;

        & h3 {
            font-weight: 700;
            font-size: $width2;
        }

        & h4 {
            font-weight: 300;
            font-size: 20px;
        }
    }

    .icon_coeur_accueil {
        width: 2px;
        height: $width2;
        top: 230px;
        right: 5%;
    }

    input {
        left: 20px;
    }

    input:hover~.fa-regular.fa-heart {
        transition-duration: .5s;
        opacity: $none;
    }

    input:hover~.fa-solid.fa-heart {
        transition-duration: .5s;
        opacity: $opacity;
    }

    /* PAGES RESTAURANTS DESKTOP */

    /* HEADER */

    header {
        @include flexcenter;
        align-items: center;
        width: $full;

        & a {
            font-weight: 500;
            font-size: 20px;
            right: 20%;
            bottom: 20px;
        }

        & i {
            margin-top: 20px;
            font-weight: 500;
            font-size: 20px;
            position: relative;
            right: 30%;
            top: 10px;
        }

        & img {
            width: 30%;
        }
    }

    .img_restaurant {
        height: 400px;

        & img {
            width: $full;
            height: 450px;
            object-fit: cover;
        }
    }
   
    /* SECTION MENU */

    .titre_menu {
        justify-content: center;

        & h1 {
            font-size: 30px;
            margin-right: 20px;
        }
    }

    .entrées,
    .plats,
    .desserts {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            width: 80px;
            font-size: 28px;
            margin: 30px 0 10px 0;
        }
    }

    .card_plat {
        width: 50%;

        & h3, p {
            margin: 5px 0 5px 0;
        }

        & h3 {
            font-size: 20px;
        }

        & p {
            font-size: 17px;
        }
    }

    .card_plat_com {
        width: 75%;
    }

    .prix p {
        font-size: 17px;
    }
}