/* PAGES MENUS */

body a {
    color: $color4;
}

/* SECTION MENU */

.menu,
.menu_la_note_enchantée {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $bgcolor1;
    position: relative;
}

.titre_menu {
    @include flexbaseline;

    & h1 {
        font-weight: 400;
        margin-top: 30px;
    }
}

/* RESTAURANTS */

.entrées h2,
.plats h2,
.desserts h2 {
    font-weight: 100;
    padding-bottom: 5px;
    border-bottom: 3px solid $tertiary_color;
}

.card_plat {
    @include flexbetween;
    margin: 20px 3% 10px 3%;
    padding-left: 3%;
    background-color: $bgcolor2;
    border-radius: $width1;
    box-shadow: 0 8px 8px 0 rgb(221, 220, 220);
    overflow: hidden;

    & p {
        font-weight: 100;
    }

    & .icon {
        @include flexcenter;
        opacity: $none;
        width: 20%;
        align-items: center;
        color: $tertiary_color;
        background-color: $tertiary_color;
        border-top-right-radius: $width1;
        border-bottom-right-radius: $width1;
        margin-right: -20%;
    }

    & i {
        width: $width1;
        padding: 5px;
        background-color: $bgcolor2;
        border-radius: $width1;
    }
}

.card_plat:hover .icon {
    opacity: 1;
    margin-right: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    cursor: pointer;
}

.card_plat:hover i {
    transform: rotate(360deg);
    transition-duration: 0.5s;
}

.card_plat_com {
    padding: 7px 0 7px 0;
    overflow-x: hidden;
}

.prix {
    @include flexcenter;
    font-weight: 800;

    & p {
        margin: $none;
        padding: 30px 10px 0 0;
        font-weight: 900;
    }
}

/* VERSION MOBILE */

@media (max-width: 425px) {

    /* SECTION MENU */

    .titre_menu {
        justify-content: space-between;

        & h1 {
            width: 78%;
            font-size: 25px;
            padding: 0 0 0 5%;
        }
    }

    .entrées,
    .plats,
    .desserts {
        min-height: 280px;

        & h2 {
            width: 40px;
            font-size: medium;
            margin: 30px 5% 10px 5%;
        }
    }

    .card_plat h3,
    .card_plat p {
        margin: 5px 0 5px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .card_plat h3 {
        font-size: 16px;
    }

    .card_plat p {
        font-size: 12px;
    }

    .card_plat_com {
        width: 80%;
    }

    .prix {
        font-size: 15px;
    }
}

/* SECTION COMMANDER */

.commander {
    @include flexcenter;
    background-color: $bgcolor1;
}


/* ---VERSION TABLETTE--- */

@media (min-width: 426px) and (max-width: 768px) {

    .img_restaurant {
        height: 300px;

        & img {
            width: $full;
            height: 350px;
            object-fit: cover;
        }
    }

    /* SECTION MENU */

    .titre_menu {
        justify-content: center;

        & h1 {
            font-size: 30px;
            margin-right: 20px;
        }
    }

    .entrées,
    .plats,
    .desserts {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            width: 80px;
            font-size: 28px;
            margin: 30px 0 10px 0;
        }
    }

    .card_plat {
        width: 65%;

        & h3,
        p {
            margin: 5px 0 5px 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        & h3 {
            font-size: 20px;
        }

        & p {
            font-size: 17px;
        }

        &_com {
            width: 70%;
            margin-right: 10%;
        }
    }

    .prix {
        font-size: $width1;
    }
}


/* VERSION DESKTOP */

@media (min-width: 769px) {

    .img_restaurant {
        height: 400px;

        & img {
            width: $full;
            height: 450px;
            object-fit: cover;
        }
    }

    /* SECTION MENU */

    .titre_menu {
        justify-content: center;

        & h1 {
            font-size: 30px;
            margin-right: 20px;
        }
    }

    .entrées,
    .plats,
    .desserts {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            width: 80px;
            font-size: 28px;
            margin: 30px 0 10px 0;
        }
    }

    .card_plat {
        width: 50%;

        & h3,
        p {
            margin: 5px 0 5px 0;
        }

        & h3 {
            font-size: 20px;
        }

        & p {
            font-size: 17px;
        }

        &_com {
            width: 75%;
        }
    }

    .prix p {
        font-size: 17px;
    }
}