/* BOUTONS */

.btn_explore {
    @include flexcenter;
    width: 160px;
    background-image: linear-gradient($secondary-color, $primary-color);
    border-radius: 50px;
    padding: 5px 5% 5px 5%;
    margin-bottom: 10px;
    color: $bgcolor2;
    font-weight: 100;
    box-shadow: 0 2px 15px 2px rgb(180, 179, 179);

    & p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 300;
    }
}

.choose,
.compose,
.taste {
    display: flex;
    align-items: center;
    background-color: $bgcolor1;
    border-radius: 20px;
    box-shadow: 0 8px 8px 0 rgb(221, 220, 220);
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;

    & h3 {
        padding: 0 10px 0 8%;
    }

    &:hover {
        background-color: #fcf0ff;
        box-shadow: 0 8px 8px 0 rgb(196, 196, 196);
    }
}

.choose i,
.compose i,
.taste i {
    color: rgb(139, 139, 139);
    font-size: 18px;
    width: 20px;
    padding-left: 3%;

    &:hover {
        color: $primary-color;
    }
}

.btn_nouveau {
    @include flexcenter;
    width: 80px;
    padding: 5px 1px 5px 1px;
    border-radius: 3px;
    position: relative;
    background-color: $tertiary-color;

    & p {
        @include flexcenter;
        margin: $none;
        font-weight: 600;
        color: #098633;
        ;
    }
}

.btn_commander {
    width: 90px;
    @include flexcenter;
    border-radius: 50px;
    background-image: linear-gradient($secondary-color, $primary_color);
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 40px;
    margin-bottom: 60px;
    color: $bgcolor2;
    font-weight: 100;
    box-shadow: 0 2px $width1 2px rgb(180, 179, 179);

    & h3 {
        margin-top: $width1;
        margin-bottom: $width1;
        font-weight: 300;
    }

    &:hover {
        cursor: pointer;
    }
}

/* VERSION MOBILE */

@media (max-width: 425px) {

    .btn_nouveau {
        bottom: 160px;
        left: 69%;

        & p {
            font-size: 15px;
            width: 40px;
        }
    }

    .btn_commander {
        margin-top: 40px;
        margin-bottom: 60px;

        & h3 {
            font-size: 14px;
            margin-top: $width1;
            margin-bottom: $width1;
            font-weight: 300;
        }
    }
}

/* VERSIONS TABLETTE */

@media (min-width: 426px) and (max-width: 768px) {

    .btn_explore {
        width: 200px;

        & p {
            font-size: large;
        }
    }

    .choose,
    .compose,
    .taste {
        width: 300px;
        height: 50px;
        margin: 0 2% $width1 2%;

        & h3 {
            font-size: large;
        }
    }

    .btn_nouveau {
        width: 80px;
        bottom: 190px;
        left: 3%;

        & p {
            font-size: small;
        }
    }

    .btn_commander {
        margin-top: 40px;
        margin-bottom: 40px;

        & h3 {
            margin-top: $width1;
            margin-bottom: $width1;
            font-weight: 300;
        }
    }
}

/* VERSION DESKTOP */

@media (min-width: 769px) {

    .btn_explore {
        width: 230px;

        & p {
            font-size: large;
        }
    }

    .choose,
    .compose,
    .taste {
        width: 290px;
        height: 60px;
        margin: 5px 2% 20px 2%;

        & h3 {
            font-size: large;
            padding-left: 10px;
        }
    }

    .btn_nouveau {
        bottom: 190px;
        left: 3%;

        & p {
            font-size: medium;
        }
    }
}