body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

footer h2 {
    font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

.titre_menu h1 {
    font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}