/* FOOTER */

footer {
    height: 200px;
    background-color: rgb(56 56 56);

    & h2 {
        font-size: 17px;
        font-weight: 100;
        width: 160px;
        color: $bgcolor2;
        margin: $none;
        padding: 20px 0 10px 5%;
    }

    & p {
        color: $bgcolor2;
        margin: $none;
        padding: 10px 0 0 5%;
    }

    & i {
        width: $width1;
        font-size: 15px;
    }
}

.suggest,
.partnership {
    @include flexbaseline;
    color: $bgcolor2;
    padding: 10px 0 0 5%;
}

.suggest h3,
.partnership h3 {
    margin: $none;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}