/* HEADER */

nav {
    @include flexcenter;
    align-items: baseline;
    width: $full;
}

nav a {
    position: relative;
}


/* ---VERSION MOBILE---*/

@media (max-width: 425px) {

    nav img {
        margin-top: 20px;
        width: 170px;
        margin-bottom: 10px;

        & i {
            margin-top: 20px;
            font-weight: 500;
            font-size: 20px;
            position: relative;
            right: 40%;
            top: 5px;
        }
    }

    /* ---PAGES RESTAURANTS MOBILE--- */

    nav a {
        right: 15%;
        bottom: 8px;
    }

    .img_restaurant {
        height: 215px;

        & img {
            height: 250px;
            width: 100%;
            object-fit: cover;
        }
    }
}


/* ---VERSION TABLETTE--- */

@media (min-width: 426px) and (max-width: 768px) {

    nav img {
        margin-top: 20px;
        margin-bottom: 10px;
        width: 230px;
    }

    /* ---PAGES RESTAURANTS TABLETTE---*/

    nav i {
        position: relative;
    }

    nav a {
        font-weight: 500;
        font-size: 20px;
        right: 17%;
        bottom: 12px;
    }
}


/* VERSION DESKTOP */

@media (min-width: 769px) {

    nav {
        padding: 20px 0 20px 0;
    }

    /* PAGES RESTAURANTS DESKTOP */

    nav {
        @include flexcenter;
        align-items: center;
        width: $full;

        & a {
            font-weight: 500;
            font-size: 20px;
            right: 20%;
            bottom: 20px;
        }

        & i {
            margin-top: 20px;
            font-weight: 500;
            font-size: 25px;
            position: relative;
            right: 30%;
            top: 10px;
        }

        & img {
            width: 30%;
        }
    }
}