$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$rgb139: rgb(139, 139, 139);
$bgcolor1: #f0f0f0;
$white: white;
$black: black;

$border: 15px;
$size25: 25px;

$margin-none: 0;

$opacity-none: 0;
$opacity: 1;
