$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$icon-color: rgb(139, 139, 139);
$bgcolor1: #f0f0f0;
$bgcolor2: white;
$color4: black;

$border: 15px;
$size25: 25px;

$margin-none: 0;

$opacity-none: 0;
$opacity: 1;
